:root {
	--def-width: 1290px;
	--def-padding: 16px;

	--font-main: 'Geologica', Arial, sans-serif;

	--page-bg: #fff;
	--text-color: #0F0F0F;
	--link-color: #D23029;
	--white-color: #FAFAFA;
}

* {
	box-sizing: border-box !important;
	background-repeat: no-repeat !important;
	word-break: break-word !important;
	color: var(--text-color);
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: var(--font-main);
	background-color: #FAFAFA;

	* {
		font-family: var(--font-main);
		font-weight: 400;
		font-style: Regular;
		font-size: 16px;
		leading-trim: NONE;
		line-height: 140%;
		letter-spacing: 0%;
		color: var(--text-color);
	}
}

h1,
.h1 {
	font-family: var(--font-main);
	font-weight: 500;
	font-style: Medium;
	font-size: 42px;
	leading-trim: NONE;
	line-height: 130%;
	letter-spacing: 0%;
	text-transform: uppercase;
}

h2,
.h2 {
	font-family: var(--font-main);
	font-weight: 500;
	font-style: Medium;
	font-size: 42px;
	leading-trim: NONE;
	line-height: 130%;
	letter-spacing: 0%;
	text-transform: uppercase;
}

.def_title {
	margin-bottom: 50px;

	h2,
	span,
	.h2 {
		font-family: var(--font-main);
		font-weight: 500;
		font-style: Medium;
		font-size: 42px;
		leading-trim: NONE;
		line-height: 130%;
		letter-spacing: 0%;
		text-transform: uppercase;
	}

	span {
		color: var(--link-color);
	}

	@media (max-width: 500px) {

		h2,
		span,
		.h2 {
			font-family: var(--font-main);
			font-weight: 500;
			font-style: Medium;
			font-size: 32px;
			leading-trim: NONE;
			line-height: 130%;
			letter-spacing: 0%;
			text-transform: uppercase;
		}
	}
}

h1.title,
.h1.title {
	margin: 40px auto;
	width: 100%;
	max-width: calc(var(--def-width) + var(--def-padding) + var(--def-padding));
	padding: 0 var(--def-padding);

	&.v2 {
		margin: 20px auto;
	}
}

@media (max-width: 500px) {

	h1.title,
	.h1.title {
		margin: 40px 0 20px;
	}
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: var(--font-main);
	font-weight: 500;
	font-style: Medium;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;
}

@media (max-width: 500px) {

	body * {
		font-family: var(--font-main);
		font-weight: 400;
		font-style: Regular;
		font-size: 14px;
		leading-trim: NONE;
		line-height: 140%;
		letter-spacing: 0%;
	}

	h1,
	.h1 {
		font-family: var(--font-main);
		font-weight: 500;
		font-style: Medium;
		font-size: 24px;
		leading-trim: NONE;
		line-height: 130%;
		letter-spacing: 0%;
		text-transform: uppercase;
	}

	h2,
	.h2 {
		font-family: var(--font-main);
		font-weight: 500;
		font-style: Medium;
		font-size: 32px;
		leading-trim: NONE;
		line-height: 130%;
		letter-spacing: 0%;
		text-transform: uppercase;
	}
}

a {
	text-decoration: none;
	transition: .5s;
	cursor: pointer;
}

a:hover {
	transition: .5s;
	color: var(--link-color);
}

main {
	padding: 0;
	margin: 0;
	position: relative;
}

.padding {
	padding: 0 var(--def-padding);
}

.padding_def {
	padding-bottom: 80px;
	padding-top: 80px;
}

@media (max-width: 720px) {
	.padding_def {
		padding-bottom: 40px;
		padding-top: 40px;
	}
}

.flex {
	display: flex;
}

.flex-direct {
	flex-direction: column;
}

.def_div {
	width: 100%;
	max-width: var(--def-width);
	margin: 0 auto;
}

.button {
	font-family: var(--font-main);
	font-weight: 500;
	font-style: Medium;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: var(--white-color);
	min-height: 60px;
	width: fit-content;
	transition: .5s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18.5px 40px;
	background-color: var(--link-color);
	border-radius: 88px;
}

.button:hover:not([disabled]) {
	transition: .5s;
	color: var(--white-color) !important;
}

.button_v2 {
	font-family: var(--font-main);
	font-weight: 500;
	font-style: Medium;
	font-size: 18px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: var(--text-color);
	min-height: 60px;
	width: fit-content;
	transition: .5s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18.5px 40px;
	background-color: var(--white-color);
	border-radius: 88px;
}

.button_v2:hover:not([disabled]) {
	background-color: var(--text-color);
	transition: .5s;
	color: var(--white-color) !important;
}

button:disabled {
	opacity: .6 !important;
	cursor: default !important;
}

.invise {
	display: none !important;
	height: 0 !important;
	width: 0 !important;
}

.default {
	width: 100%;
	max-width: var(--def-width);
	margin: 0 auto 80px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	h2,
	.h2 {
		font-family: var(--font-main);
		font-weight: 500;
		font-style: Medium;
		font-size: 32px;
		leading-trim: NONE;
		line-height: 130%;
		letter-spacing: 0%;
		margin: 20px 0 10px;
	}

	h3,
	.h3 {
		font-family: var(--font-main);
		font-weight: 500;
		font-style: Medium;
		font-size: 24px;
		leading-trim: NONE;
		line-height: 130%;
		letter-spacing: 0%;
		margin: 16px 0 8px;
	}
}

.default a {
	color: var(--link-color);
	text-decoration: underline;
	display: inline-block;
}

.default ul {
	list-style-position: inside;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.default ol {
	list-style-position: inside;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding-left: 0;
}

.default ul li {
	list-style: disc;
}

.default ul li::marker {
	color: var(--text-color);
}

.default table {
	width: 100%;
}

.default caption {
	border-bottom: none;
	background-color: #9CA3AF;
}

.default thead th {
	background-color: #9CA3AF;
}

.default tbody td {
	background-color: #D1D5DB;
	text-align: center;
}

.fancybox-button *,
.fancybox-infobar * {
	color: var(--white-color) !important;
}

.fancybox-caption__body {
	color: var(--white-color);
}

.bread {
	width: 100%;

	&.v2 {
		position: absolute;
		top: 20px;
		z-index: 1;

		ul {

			li {
				color: #9CA3AF;

				svg {
					path {
						stroke: #9CA3AF;
					}
				}

				a {
					color: #FAFAFA;
				}
			}
		}
	}

	ul {
		display: flex;
		gap: 8px;
		align-items: center;
		flex-wrap: wrap;
		padding: 20px 0;
		width: 100%;
		max-width: var(--def-width);
		margin: 0 auto;

		li {
			font-family: var(--font-main);
			font-weight: 400;
			font-style: Regular;
			font-size: 14px;
			leading-trim: NONE;
			line-height: 100%;
			letter-spacing: 0%;
			color: #9CA3AF;

			svg {
				max-width: 8.5px;
				max-height: 8.5px;
				min-height: 8.5px;
				min-width: 8.5px;
			}

			a {
				font-family: var(--font-main);
				font-weight: 400;
				font-style: Regular;
				font-size: 14px;
				leading-trim: NONE;
				line-height: 100%;
				letter-spacing: 0%;
				color: #727272;
			}

			a:hover {
				color: var(--link-color);
			}
		}
	}
}

@media (max-width: 500px) {
	.bread {

		ul {
			overflow-x: scroll;
			flex-wrap: nowrap;
			padding: 20px 0;

			li {
				white-space: nowrap;

				a {
					white-space: nowrap;
				}
			}
		}
	}
}

[data-href] {
	cursor: pointer;
}

#load-svg {
	position: fixed;
	transition: 0.5s;
	z-index: 1001;
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: #00000033;
}

#load-svg svg {
	max-width: 64px;
	max-height: 64px;
	min-height: 64px;
	min-width: 64px;
}

#load-svg.open {
	visibility: visible;
	opacity: 1;
}

.overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	z-index: 11;
	transition: 0.5s;
}

.overlay.open {
	visibility: visible;
	opacity: 50%;
	transition: 0.5s;
}

.popupCheck {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: max-content;
	padding: 0 20px;
}

.popupCheck .popup__container {
	display: flex;
	flex-direction: column;
	width: auto;
	position: relative;
	background-color: #FFF;
	border-radius: 8px;
	width: 100%;
	max-width: 400px;
	padding: 40px 20px 20px;
	max-height: 70vh;
	overflow-y: scroll;
}

.popupCheck .popup__container .h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 28.8px;
	text-align: left;
	color: #222;
	margin-bottom: 15px;
	text-align: center;
}

.popupCheck .popup__container p {
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	text-align: left;
	color: #222;
	margin-bottom: 20px;
}

.popupCheck .popup__container span,
.popupCheck .popup__container span a {
	font-size: 12px;
	font-weight: 400;
	line-height: 19.6px;
	text-align: left;
}

.popupCheck .popup__container span a {
	text-decoration: underline;
}

.popupCheck .popup__container span {
	margin-bottom: 10px;
}

.popupCheck .popup__container .close-btn {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 3;
	cursor: pointer;
	width: 21px;
	height: 21px;

	path {
		transition: .5s;
	}
}

.popupCheck .popup__container .close-btn:hover path {
	fill: var(--link-color);
	stroke: var(--link-color);
}

.popupCheck.open {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}

@media (min-width: 991px) {
	.popupCheck .popup__container {
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.popupCheck .popup__container::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}


.checkbox .check {
	display: none !important;
}

.checkbox.checked .check {
	display: block !important;
}

.checkbox {
	margin-top: 15px;
	display: flex;
	gap: 15px;

	&.err {
		.check-box-btn {
			border: 1px solid var(--link-color);
		}
	}
}

.checkbox .check-box-btn {
	max-width: 24px;
	max-height: 24px;
	min-height: 24px;
	min-width: 24px;
	border-radius: 4px;
	cursor: pointer;
	transform: translateY(5px);
}

.checkbox .check-box-btn {
	border: 1px solid #D5D5D5;
}

.checkbox .check-box-btn .check {
	width: 100%;
	height: 100%;
}

.checkbox.checked .check-box-btn {
	border: none;
}

.checkbox.err .check-box-btn {
	background-color: var(--color-red);
}

.checkbox p {
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	leading-trim: NONE;
	line-height: 140%;
	letter-spacing: 0%;
}

.checkbox p * {
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	leading-trim: NONE;
	line-height: 140%;
	letter-spacing: 0%;
}

.checkbox p a {
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.before-1 {
	position: relative;

	&::before {
		content: "";
		z-index: 0;
		background-color: #0F0F0F33;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.video {
	position: relative;

	&::before {
		content: "";
		z-index: 0;
		background-color: #0f0f0f00;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: .5s;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 100%;
		height: 100%;
		background-image: url('./../img/Frame 83.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		max-width: 60px;
		max-height: 60px;
		min-height: 60px;
		min-width: 60px;
		transition: .5s;
	}

	&:hover {

		&::before {
			background-color: #0f0f0f33;
		}

		&::after {
			transform: translateX(-50%) translateY(-50%) scale(1.1);
		}
	}
}

.sw-cont {
	position: relative;
}

.sw-btn {
	position: absolute;
	top: 50%;
	left: -40px;
	transition: .5s;
	transform: rotate(180deg) translateX(100%);
	max-width: 60px;
	max-height: 60px;
	min-height: 60px;
	min-width: 60px;
	background-image: url('./../img/arrow.svg');
	cursor: pointer;
	z-index: 1;

	&:hover {
		opacity: .4;
	}

	* {
		transition: .5s;
	}

	&.sw-btn-next {
		left: auto;
		right: -40px;
		transform: translateX(100%);
	}

	&.swiper-button-disabled {
		opacity: .4;
		cursor: default;
	}
}

.sw-btn-cont-help {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	max-width: var(--def-width);
	height: 0;
	max-height: 0;
	min-height: 0;
	z-index: 1;
}

.sw-pagin {
	position: absolute;
	top: auto !important;
	bottom: 40px !important;
	z-index: 1;
	left: 50% !important;
	transform: translateX(-50%) !important;
	transition: .5s;
	width: fit-content !important;
	display: flex;
	flex-wrap: wrap;
	gap: 10px 20px;

	.swiper-pagination-bullet {
		margin: 0 !important;
		max-width: 10px;
		max-height: 10px;
		min-height: 10px;
		min-width: 10px;
	}

	.swiper-pagination-bullet {
		background: #FAFAFA;
		opacity: .5;
	}

	.swiper-pagination-bullet-active {
		background: var(--link-color);
		opacity: 1;
	}

	* {
		transition: .5s;
	}
}

.btn-cont {
	width: 100%;
	margin: 40px 0 0;
	display: flex;

	.button {
		margin: 0 auto;
		width: 100%;
	}
}

@media (max-width: 720px) {
	.btn-cont {
		margin: 20px 0 0;
	}
}

.sect .cont {
    overflow: hidden; /* Скрываем переполнение */
    height: 0; /* Начальная высота */
    transition: height 0.5s ease; /* Плавная анимация */
}