.garant-cont-v1-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.garant-cont-v1 {
    display: flex;
    gap: 30px;
    min-height: 543px;

    .left {
        height: auto;
        background-size: cover;
        background-position: center;
        width: -webkit-fill-available;
        border-radius: 20px;
    }

    .right {
        height: auto;
        background-color: #FFF;
        border-radius: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        border: 1px solid #D1D5DB;
        width: -webkit-fill-available;

        .h3 {
            font-family: Geologica;
            font-weight: 500;
            font-style: Medium;
            font-size: 42px;
            leading-trim: NONE;
            line-height: 130%;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: var(--link-color);
        }

        .default {
            margin: 0;
        }
    }
}

@media (max-width: 970px) {
    .garant-cont-v1 {
        flex-direction: column;
        min-height: auto;

        .left {
            aspect-ratio: 375/323;
        }
    }
}

@media (max-width: 500px) {
    .garant-cont-v1-section {
        gap: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .garant-cont-v1 {
        gap: 0;

        .left {
            border-radius: 0;
        }

        .right {
            height: fit-content;
            border-radius: 0;
            padding: 40px 20px;
            justify-content: start;

            .h3 {
                font-family: Geologica;
                font-weight: 500;
                font-style: Medium;
                font-size: 24px;
                leading-trim: NONE;
                line-height: 130%;
                letter-spacing: 0%;
                text-transform: uppercase;
            }

            .default {
                margin: 0;
            }
        }
    }
}