.main-quality-control {
    padding: 40px 0;
    display: flex;
    gap: 30px;

    &.main-sertificates {
        padding: 0;
    }
}

.swiperQualityControlImages-sw-pagin {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    transform: none !important;
    justify-content: center;
    height: 100%;
    background-color: #262626;
    z-index: 1;
    margin-bottom: 40px;
}

.main-quality-control-section {

    &.v3 {
        position: relative;
        background-color: #262626;

        .swiperQualityControlImages {
            max-width: -webkit-fill-available;
        }

        .swiperQualityControlText {
            max-width: -webkit-fill-available;

            .swiper-slide {
                padding-top: 170px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0;

                .h3:not(.default, span) {
                    position: absolute;
                    top: 40px;
                    left: 40px;
                    right: 40px;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    height: fit-content;

                    * {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }

        @media (max-width: 970px) {

            .swiperQualityControlText {

                .swiper-slide {
                    padding-top: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;

                    .h3:not(.default, span) {
                        position: static;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: 0 0 20px;

                        * {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }

        @media (max-width: 500px) {
            .swiperQualityControlText .swiper-slide {
                padding: 20px 20px 100px;

                .h3:not(.default, span) {
                    margin: 0 0 16px;
                }

                .h2:not(.default) {
                    font-family: Geologica;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 32px;
                    leading-trim: NONE;
                    line-height: 130%;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }

            .swiperQualityControlImages .swiper-slide {
                aspect-ratio: 1/1;
            }
        }
    }
}

.main-sertificates-section {
    overflow: hidden;
}

.swiperQualityControlText {
    width: 100%;
    max-width: 740px;
    background-color: #FFF;
    border-radius: 20px;
    border: 1px solid #D1D5DB;
    height: fit-content;
    position: relative;

    &.v2 {
        max-width: 630px;
        min-width: 630px;
        margin: 0;
        z-index: 2;


        .swiper-slide {
            min-height: 664px;
            padding-bottom: 140px;
        }
    }

    .swiper-slide {
        height: auto;
        padding: 40px;
        padding-bottom: 170px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;

        .h3:not(.default) {
            font-family: Geologica;
            font-weight: 500;
            font-style: Medium;
            font-size: 32px;
            leading-trim: NONE;
            line-height: 130%;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-bottom: 70px;

            span {
                color: var(--link-color);
            }
        }

        .h2:not(.default) {
            margin-bottom: 40px;
        }

        .default {
            margin: 0;
        }
    }

}

.swiperQualityControlImages {
    width: 100%;
    max-width: 520px;
    height: auto;
    border-radius: 20px;
    position: relative;

    &.v2 {
        max-width: none;
        overflow: visible;
        z-index: 1;

        .swiper-slide {
            width: 470px;
            height: auto;
            aspect-ratio: 470/664;
            transition: .5s;
        }

        @media (min-width: 971px) {
            .swiper-slide-before-active {
                opacity: 0;
            }

            width: 50%;
        }
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        background-position: center;
        background-size: cover;

    }
}

.sw-btn-quality-control-cont {
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: flex;
    gap: 10px;
    z-index: 1;

    * {
        transition: .5s;
    }

    svg {
        max-width: 60px;
        max-height: 60px;
        min-height: 60px;
        min-width: 60px;
        cursor: pointer;

        &:hover {
            opacity: .4;
        }
    }
}

@media (max-width: 970px) {

    .swiperQualityControlImages-sw-pagin {
        display: none;
    }

    .main-quality-control {
        flex-direction: column;
    }

    .swiperQualityControlText {
        max-width: none;

        &.v2 {
            max-width: none;
            min-width: auto;

            .swiper-slide {
                min-height: auto;
                padding-bottom: 100px;
            }

            .swiper-slide .h3:not(.default) {
                margin-bottom: 0;
            }
        }
    }

    .swiperQualityControlImages {
        max-width: none;

        .swiper-slide {
            aspect-ratio: 16/9;
        }
    }
}

@media (max-width: 500px) {
    .main-quality-control {
        gap: 20px;
    }

    .swiperQualityControlText {
        width: 100%;

        .swiper-slide {
            padding: 20px;
            padding-bottom: 104px;

            .h3:not(.default) {
                font-family: Geologica;
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                leading-trim: NONE;
                line-height: 130%;
                letter-spacing: 0%;
                text-transform: uppercase;
                margin-bottom: 24px;
            }

            .h2:not(.default) {
                font-family: Geologica;
                font-weight: 500;
                font-style: Medium;
                font-size: 24px;
                leading-trim: NONE;
                line-height: 130%;
                letter-spacing: 0%;
                margin-bottom: 20px;
            }
        }

    }

    .swiperQualityControlImages {
        .swiper-slide {
            aspect-ratio: 343/412;
        }
    }

    .sw-btn-quality-control-cont {
        bottom: 20px;
        right: 20px;
    }
}