.main-about-cards {
    padding: 40px 0;
}

.main-about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.main-about-card {
    background-color: #E4E4E7;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: auto;

    .left {
        display: flex;
        flex-direction: column;
        gap: 23px;

        .h2 {
            font-family: Geologica;
            font-weight: 500;
            font-style: Medium;
            font-size: 42px;
            leading-trim: NONE;
            line-height: 130%;
            letter-spacing: 0%;
            vertical-align: middle;
            text-transform: uppercase;
            color: var(--link-color);
        }

        p {
            font-family: Geologica;
            font-weight: 400;
            font-style: Regular;
            font-size: 24px;
            leading-trim: NONE;
            line-height: 130%;
            letter-spacing: 0%;
            vertical-align: middle;
        }
    }

    svg {
        max-width: 80px;
        max-height: 80px;
        min-height: 80px;
        min-width: 80px;
        object-fit: contain;
        object-position: center;
    }
}

@media (max-width: 970px) {
    .main-about-cards {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .main-about-card {
        padding: 20px;
        gap: 20px;
        min-height: 164px;

        .left {
            display: flex;
            flex-direction: column;
            gap: 23px;
            height: 100%;
            justify-content: space-between;

            .h2 {
                font-family: Geologica;
                font-weight: 500;
                font-style: Medium;
                font-size: 32px;
                leading-trim: NONE;
                line-height: 130%;
                letter-spacing: 0%;
                vertical-align: middle;
                text-transform: uppercase;
            }

            p {
                font-family: Geologica;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                leading-trim: NONE;
                line-height: 130%;
                letter-spacing: 0%;
                vertical-align: middle;
            }
        }

        svg {
            max-width: 60px;
            max-height: 60px;
            min-height: 60px;
            min-width: 60px;
        }
    }
}