.main-catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.main-catalog-item {
    height: auto;
    border-radius: 20px;
    background-color: #E4E4E7;
    border: 1px solid #D1D5DB;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: end;
    overflow: hidden;
    min-height: 310px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .5s;

    &:hover:not(.v4) {
        transform: scale(.95);

        .h3 {
            color: var(--link-color);
        }
    }

    * {
        transition: .5s;
    }

    .h3 {
        font-family: Geologica;
        font-weight: 500;
        font-style: Medium;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 120%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #000;
        padding: 0 20px 20px;
    }

    &.v2 {
        grid-row: span 2;
    }

    &.v3 {
        grid-column: span 2;
    }

    &.v4 {
        display: flex;
        flex-direction: row;
        border-radius: 0;
        overflow: visible;
        gap: 10px;
        background: none;
        border: none;
        grid-column: span 2;
        justify-content: start;

        .button-cont {
            width: 100px;
            height: 100%;
            position: relative;
            background-color: var(--link-color);
            border-radius: 200px;
            overflow: hidden;
            padding: 30px;

            * {
                color: var(--white-color);
            }

            p {
                rotate: -90deg;
                display: contents;
                white-space: nowrap;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Geologica;
                font-weight: 500;
                font-style: Medium;
                font-size: 24px;
                leading-trim: NONE;
                line-height: 130%;
                letter-spacing: 0%;
                vertical-align: middle;
            }
        }
    }

    &.v5 {
        width: 100%;
    }
}

@media (max-width: 970px) {
    .main-catalog-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-catalog-item {
        &.v2 {
            grid-row: span 1;
        }

        &.v3 {
            grid-column: span 1;
        }

        &.v4 {
            grid-column: span 2;
            flex-direction: column;

            .button-cont {
                width: 100%;


                * {
                    color: var(--white-color);
                }

                p {
                    rotate: 0deg;
                    display: contents;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Geologica;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 24px;
                    leading-trim: NONE;
                    line-height: 130%;
                    letter-spacing: 0%;
                    vertical-align: middle;
                }
            }
        }

        &.v5 {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .main-catalog-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-catalog-item {
        aspect-ratio: 1/1;

        .h3 {
            font-family: Geologica;
            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            leading-trim: NONE;
            line-height: 130%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: var(--text-color);
        }

        &.v4 {
            grid-column: span 1;
            aspect-ratio: auto;

            .button-cont {
                height: 80px;

                * {
                    color: var(--white-color);
                }

                p {
                    font-family: Geologica;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    leading-trim: NONE;
                    line-height: 130%;
                    letter-spacing: 0%;
                    vertical-align: middle;
                }
            }
        }
    }
}