.popupForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    width: 100%;
    max-width: 850px;
    padding: 0 var(--def-padding);
}

.popup-product {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px var(--def-padding) 8px 8px;
    background-color: #D1D5DB;
    border-radius: 20px;
    margin-bottom: 30px;

    .img {
        border-radius: 16px;
        background-color: #FFF;
        padding: 16px;
        height: fit-content;
        width: fit-content;

        img {
            aspect-ratio: 68/72;
            object-fit: contain;
            object-position: center;
            width: 100%;
            max-width: 68px;
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .title {
            font-weight: 400;
            font-style: Regular;
            font-size: 24px;
            leading-trim: NONE;
            line-height: 130%;
            letter-spacing: 0%;
            vertical-align: middle;
        }

        .price {
            color: #727272;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
        }
    }
}

.popup__container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--white-color);
    border-radius: 20px;
    width: 100%;
    padding: 40px;
    max-height: 95vh;
    overflow-y: scroll;

    * {
        transition: .5s;
    }

    .popupForm-title {
        font-weight: 500;
        font-style: Medium;
        font-size: 42px;
        leading-trim: NONE;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;

        span {
            color: var(--link-color);
            font-weight: 500;
            font-style: Medium;
            font-size: 42px;
            leading-trim: NONE;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .inputs_cont {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;

        input,
        textarea {
            border: 1px solid #9CA3AF;
            padding: 0 20px;
            border-radius: 10px;
            width: 100%;
            height: 60px;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            transition: .5s;

            &::placeholder {
                color: #9CA3AF;
                transition: .5s;
            }

            &:focus-visible:not(.err input) {
                outline: none;
                border: 1px solid var(--text-color);

                &::placeholder {
                    color: var(--text-color);
                }
            }
        }

        textarea {
            padding: 20px;
            resize: none;
            height: 120px;
        }

        .input_cont {
            width: 100%;

        }

        .err {

            input,
            textarea {
                border: 1px solid var(--link-color);
                color: var(--link-color);

                &::placeholder {
                    color: var(--link-color);
                }
            }
        }
    }

    .button {
        width: 100%;
    }

    .checkbox {
        * {
            color: var(--text-color);
        }
    }
}

.popup__container .close-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 3;
    cursor: pointer;
    width: 21px;
    height: 21px;
}

.popup__container .close-btn:hover path {
    fill: var(--link-color);
    stroke: var(--link-color);
}

.popupForm.open {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup-file-container {
    border: 1px dashed #727272;
    border-radius: 100px;
    width: fit-content;
    position: relative;
    margin-bottom: 40px;

    &.add-file {
        border: 0px;
        border-radius: 0;

        input,
        label,
        svg {
            display: none !important;
        }
    }

    input {
        display: none;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        max-width: 16px;
        max-height: 18px;
        min-height: 18px;
        min-width: 16px;
        z-index: 1;
    }

    label {
        padding: 20px 20px 20px 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        position: relative;
        z-index: 2;
    }
}

.file-row {
    display: flex;
    gap: 5px;
}

.file-row__size {
    color: #727272;
}

@media (min-width: 1291px) {
    .popupForm .popup__container {
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .popupForm .popup__container::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

@media (max-width: 720px) {
    .popup__container {
        padding: 60px 20px 20px;
    }
}