[data-tabs-container] {
    padding: 40px 0 80px;
}

.tabs {
    display: flex;
}

[data-tab] {
    font-family: Geologica;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px 50px;
    border-bottom: 1.5px solid #D1D5DB;
    color: #727272;
    width: 370px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        border-bottom: 1.5px solid var(--link-color);
        color: var(--text-color);
    }

    &:hover {
        color: var(--text-color);
    }
}

[data-tab-item] {
    margin: 0;
    margin-top: 40px;
}

@media (max-width: 720px) {
    .tabs {
        overflow: auto;
    }
    
    [data-tab] {
        white-space: nowrap;
        padding: 20px;

        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            padding-right: 0;
        }
    }
}

@media (max-width: 500px) {
    [data-tabs-container] {
        padding: 40px 0;
    }
    
    [data-tab] {
        font-family: Geologica;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }
    
    [data-tab-item] {
        margin-top: 20px;
    }
}