.product-section-slider {
    .def_title {
        h2 {
            text-align: center;
        }
    }

    .sw-btn {
        border: 1px solid #D1D5DB;
        border-radius: 50%;
    }
}

.product-section-slider-item {
    padding: 10px 10px 20px;
    border-radius: 20px;
    border: 1px solid #D1D5DB;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    height: auto;

    img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
        aspect-ratio: 290/439;
        margin-bottom: 10px;
        border-radius: 16px;
    }


    .price-container {
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .h3 {
        font-family: Geologica;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        padding: 0 10px;
        margin-bottom: 16px;
    }

    .cont {
        display: flex;
        gap: 10px 20px;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-top: auto;
        flex-wrap: wrap;

        .price {
            font-family: Geologica;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            white-space: nowrap;
            color: #727272;

            * {
                white-space: nowrap;
                font-family: Geologica;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
            }

            b {
                font-weight: bold;
            }
        }

        .button {
            font-family: Geologica;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            padding: 11px 20px;
            min-height: 40px;
            white-space: nowrap;
        }
    }
}

@media (max-width: 1530px) {
    .product-section-slider {
        .sw-btn {
            display: none;
        }
    }
}

@media (max-width: 970px) {
    .product-section-slider-section {
        display: none;
    }
}

